.header {
	padding: 26px 0px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;

	// .header__container
	&__container {
	}

	// .header__wrapper
	&__wrapper {
	}

	// .header__logo
	&__logo {
		max-width: 245.17px;
		width: 100%;

		a {
			width: 100%;
			height: 100%;
			display: block;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}
