.tournament {
	margin: 80px 0px 0px;

	@media (max-width: 1169.98px) {
		margin: 60px 0px;
	}

	@media (max-width: 991.98px) {
		margin: 50px 0px;
	}

	// .tournament__container
	&__container {
	}

	// .tournament__wrapper
	&__wrapper {
		display: flex;
		justify-content: space-between;

		@media (max-width: 991.98px) {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&:not(:last-child) {
			margin-bottom: 66px;

			@media (max-width: 1169.98px) {
				margin-bottom: 50px;
			}

			@media (max-width: 991.98px) {
				margin-bottom: 40px;
			}

			@media (max-width: 767.98px) {
				margin-bottom: 34px;
			}
		}
	}

	// .tournament__wrapper-top
	&__wrapper-top {
		align-items: center;

		.tournament__img {
			width: 100%;

			@media (min-width: 991.98px) {
				max-width: 764px;
			}

			@media (max-width: 991.98px) {
				order: 1;
				margin: 24px 0px;
				max-width: 500px;
			}
		}

		.tournament__desc {
			margin-right: 64px;

			@media (min-width: 991.98px) {
				max-width: 764px;
			}

			@media (max-width: 1169.98px) {
				margin-top: 30px;
			}

			@media (max-width: 991.98px) {
				margin-right: 0px;
				display: contents;

				h3 {
					display: contents;

					span {
						order: 2;
					}
				}
			}
		}
	}

	// .tournament__wrapper-bottom
	&__wrapper-bottom {
		@media (min-width: 991.98px) {
			align-items: flex-start;
		}

		.tournament__img {
			padding: 49.919% 43.279% 0% 0%;
			margin: -3.3% 0% 0% -2.3%;

			@media (max-width: 767.98px) {
				padding: 128% 114% 0% 0%;
				margin: -2% 0% 0% -1%;
			}
		}

		.tournament__desc {
			margin-left: 16px;

			@media (min-width: 991.98px) {
				max-width: 704px;
			}

			@media (max-width: 991.98px) {
				margin-left: 0px;
				margin-top: 6px;

				h3 {
					br {
						display: none;
					}
				}
			}
		}
	}

	// .tournament__desc
	&__desc {
		flex-grow: 1;

		dl {
			margin-top: 60px;

			@media (max-width: 991.98px) {
				margin-top: 44px;
			}

			div {
				display: flex;
				align-items: center;

				@media (max-width: 991.98px) {
					padding: 15px 0px;

					&:last-child {
						padding-bottom: 0px;
					}

					&:first-child {
						padding-top: 0px;
					}

					&:nth-child(4) {
						dd {
							margin-left: 12px;
						}
					}

					&:not(:last-child) {
						border-bottom: 2px solid #d0d0d0;
					}

					&:not(:nth-child(4)) {
						flex-direction: column;
						align-items: flex-start;

						dd {
							margin-top: 12px;
						}
					}
				}

				dt,
				dd {
					font-weight: 400;
					font-size: 20px;
					// line-height: 24px;
					line-height: 120%;

					@media (min-width: 991.98px) {
						padding: 15.5px;
					}

					.line-through {
						margin-right: 9px;
					}
				}

				dt {
					color: var(--font-opacity-color);

					@media (min-width: 991.98px) {
						flex: 0 0 43.5%;
						padding-left: 0px;
						border-right: 2px solid #d0d0d0;
					}
				}

				dd {
					font-weight: 600;

					@media (min-width: 991.98px) {
						flex: 0 0 56.5%;
						padding-right: 0px;
					}
				}

				@media (min-width: 991.98px) {
					&:first-child {
						dt,
						dd {
							padding-top: 0px;
						}
					}

					&:last-child {
						dt,
						dd {
							padding-bottom: 0px;
						}
					}

					&:not(:last-child) {
						dt,
						dd {
							border-bottom: 2px solid #d0d0d0;
						}
					}
				}
			}
		}

		p {
			margin-top: 48px;

			@media (max-width: 991.98px) {
				margin-top: 40px;
			}

			@media (min-width: 991.98px) {
				br {
					display: none;
				}
			}
		}
	}

	// .tournament__img
	&__img {
		position: relative;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__img-layer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;

		&.layer-mask {
			z-index: 5;
			mix-blend-mode: color-burn;
			background-image: url("../img/tournament/mask.png");
		}

		&.layer-man {
			z-index: 2;
			background-image: url("../img/tournament/man.png");
		}

		&.layer-hand {
			z-index: 4;
			background-image: url("../img/tournament/hand.png");
		}

		&.layer-statuette {
			z-index: 3;
			background-image: url("../img/tournament/statuette.png");
		}

		&.layer-pattern {
			z-index: 1;
			background-image: url("../img/tournament/pattern.png");
		}
	}
}
