/* Основные стили для слайдера */
.slider {
	&.slider-init {
		position: relative;
		overflow: hidden;

		.slider-wrapper {
			display: flex;
			transition: transform 0.3s ease;
			width: 100%;
			height: 100%;
		}

		.slide {
			width: 100%;
			flex-shrink: 0;
		}

		.slider-control { 	
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 28px;
		}

		.slider-arrow-next,
		.slider-arrow-prev {
			position: relative;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			transition: all 0.3s ease 0s;
			min-width: 44px;
			min-height: 44px;
			max-width: 44px;
			max-height: 44px;
			background-color: #313131;
			border-radius: 50%;

			@media (max-width: 991.98px) {
				min-width: 36px;
				min-height: 36px;
				max-width: 36px;
				max-height: 36px;
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--yellow-color);
				}
			}

			&.disable {
				background-color: var(--gray-color);
			}
		}

		.slider-pagination {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0px 16px;
		}

		.slider-pagination-bullet {
			.dot {
				width: 10px;
				height: 10px;
				background-color: var(--gray-color);
				border-radius: 50%;
				margin: 0 3px;
				cursor: pointer;
				transition: background-color 0.3s ease 0s;

				&.active {
					background-color: var(--primary-color);
				}
			}
		}

		.slider-pagination-fraction {
			width: 35px;
			font-weight: 400;
			font-size: 16px;
			// line-height: 19px;
			line-height: 120%;
			color: var(--font-opacity-color);
			white-space: nowrap;

			.slider-pagination-fraction-count {
				color: var(--font-color);
				margin-right: 4px;
			}
		}
	}

	&:not(.slider-init) {
		.slider-control,
		.slider-arrow-next,
		.slider-arrow-prev,
		.slider-pagination {
			display: none;
		}
	}
}
